global
    maxconn 4096

defaults
    mode tcp
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend fe
    bind :9999
    default_backend be

backend be
    balance roundrobin
    server api01 api01:3000
    server api02 api02:3000
